<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<ol>
  <% for phone in @contact.phones %>
    <li> <%= phone.phone_type %> - <%= phone.number %></li>
  <% end %>
</ol>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
